<h1>Liste des gossips</h1>

<fieldset>
<% @gossips.each do |g| %>
	Title: <%= g.title %>
	Content: <%= g.content %> 
	Date: <%g.created_at %>
	</br></br></br>
<% end %>
</fieldset>

<p>	
	prout
	<!--<a href="<%= @gossips_path(gossips.id) %>" class="btn btn-primary">Lire la suite</a>-->
</p>