<h1>Editer un gossip</h1>

<%= form_for @gossips do |f| %>
 <fieldset>
    <ul id="center-gossip">
        <label for= "title" > Title:</label> <%= f.text_field :title, placeholder: "Titre" %></br>

        <label for= "content">Gossip: </label> <%= f.text_area :content, size: "20x10", placeholder: "Saisissez votre gossip :)" %></br>
    </ul>
  <tpf>  
    <%= f.submit value="Send" %> 
    <a href="/gossips"><input type="button" value="Cancel"></a>
  </tpf>
</fieldset>
<% end %>
