<fieldset>
	Title: Gossip 1:</br>
	Content: fun fact</br>
	Date: 21/29/30
	</br></br></br>

</fieldset>

<p>	
	<a href="<%= gossips_path%>"class="btn btn-primary">Revenir aux gossips</a>
	<a href="<%= gossips_path%>"class="btn btn-primary">Supprimer le gossip</a>

</p>